.product-main-container{
    padding: 20px;
}
.control-panel{
    background-color: rgb(176, 206, 180);
<<<<<<< HEAD
    display: flex;
    border-radius: 16px 16px 0px 0px;
}

=======
    
    display: flex;
    border-radius: 16px 16px 0px 0px;
}
body{
    background-color: rgba(148, 145, 145, 0.595);
}
>>>>>>> ef9b5119435344057f23e923b134e190e8fbb7ce
.control-panel a{
    text-decoration: none;
    color: #636363;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    display: block;
}
<<<<<<< HEAD
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(148, 145, 145, 0.595);
}

.container {
  margin: 20px auto;
  padding: 0 20px;
}

.review {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.reviewer-info {
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.comment {
  margin-top: 10px;
}

h1 {
  text-align: center;
  color: bisque;
}

h2 {
  margin: 0;
}

p {
  margin: 5px 0;
}
=======
>>>>>>> ef9b5119435344057f23e923b134e190e8fbb7ce
