.product-main-container{
    padding: 20px;
}
.control-panel{
    background-color: rgb(176, 206, 180);
    display: flex;
    border-radius: 16px 16px 0px 0px;
}
body{
    background-color: rgb(213, 220, 220);
}
.control-panel a{
    text-decoration: none;
    color: #636363;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    display: block;
}
.photo-panel{
    background-color: #fff;
    
    width: 49%;
}
.description-panel{
    background-color: #fff;
    width: 49%;
}
.description-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.photo-panel img{
    width: 90%;
    margin: 20px auto;
    display: block;
}
.description-container h1{
    color: rgb(34, 73, 40);
    position: relative;
    display: flex;
    justify-content: center;
}
.p{
    color: #243e38;
    font-size: large;
    font-family: system-ui;
    display: block;
    margin-left: 20px;

}
.star-cont{
    margin-left: 20px;
}
#on{
    background-color: rgb(127, 178, 255);
    border-radius: 50%;
    width: 30px;
    height: 30px;
   display: flex;
   flex-direction: row;
}
#tw{
    background-color: rgb(255, 127, 127);
    border-radius: 50%; 
    width: 30px;
    height: 30px; 
    display: flex;
    flex-direction: row;
}
#thr{
    background-color: rgb(176, 224, 191);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    box-shadow: 3px 3px 3px  red;

}
#fr{
    background-color: rgb(210, 166, 195);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    box-shadow: 3px 3px 3px  red;

}
.star-cont {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.size{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 20px;

}
#xs{
    background-color: rgb(237, 186, 220);
    border-radius: 20px;
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: row;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;


}
#s{
    background-color: rgb(237, 186, 220);
    border-radius: 20px;
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: row;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
}
#m{
    background-color: rgb(237, 186, 220);
    border-radius: 20px;
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: row;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    box-shadow: 3px 3px 3px  red;
}
#l{
    background-color: rgb(237, 186, 220);
    border-radius: 20px;
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: row;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
}
#xl{
    background-color: rgb(237, 186, 220);
    border-radius: 20px;
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: row;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
}
.h{
    color:rgb(32, 72, 53);
    font-size: x-large;
    font-family: system-ui;
    display: block;
    margin: 20px;
}

.btn {
    color: rgb(0, 0, 0);
    background-color: rgb(172, 168, 168);
    font-size: 16px;
    cursor: pointer;
    width: 300px;
    height: 50px;
    margin-left: 190px;
    margin-top: 20px;
}
