.product-item{
    height: 430px;
    width: 330px;
    background-color: rgb(170, 173, 167);
    border-radius: 12px;
    box-shadow: 7px -1px 39px -17px rgb(54, 65, 52);
    top: 50px;
    left: 20px;  
    margin-left: 20px;
    margin-top: 20px;
    
}
body{
    background-color: rgb(213, 220, 220);
}
.product-image{
    height: 250px;
    width: 250px;
    object-fit: cover;
    padding: 15px;
    margin: 0 auto;
    display: block;
}
.product-image2{

    width: 25px;
    height: 25px;
    background-color: aliceblue;
    border-radius: 50%;
    margin-left: 15px;
}
.product-image2:hover{
    background-color: brown;
}
.title{
    text-align: center;
    margin: 0;
    padding-top: 5px ;
    font-size: 25px;

}
.star-cont img{
    width: 20px;
    height: 20px;

}
.star-cont{
    display: flex;
    margin-top: 5px;
    justify-content: center;
}
.price{
    font-size: 20px;
    font-weight: bold;
    color: rgb(40, 38, 37);
    display: flex;
    justify-content: center;
    margin-top: 5px;
    text-decoration: none;
}
.star-cont img:hover{
    background-color: yellow;
    border-radius: 50%;

}
.price p {
    text-decoration: none;
}
/**
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .panel {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #748789;
    padding-top: 20px;
  }
  
  .panel a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(57, 52, 65);
    display: block;
  }
  
  .panel a:hover {
    background-color: #555;
  }
  
  .content {
    margin-left: 220px;
    padding: 20px;
  }**/
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #6dab77;
    color: #fff;
    padding: 10px 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  nav ul li a:hover {
    background-color: #2a4535 ;
  }
  main{
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
    
  }