<head>
    <link rel="stylesheet" href="productMain.css">
    </head>
<div class="container">
    <h1>Отзывы клиентов</h1>
    <div class="review">
      <div class="reviewer-info">
        <img src="/img/icon3.jfif" alt="Avatar" class="avatar">
        <div class="info">
          <h2>Имя клиента</h2>
          <p>Город, Страна</p>
        </div>
      </div>
      <p class="comment">
        Здесь будет текст отзыва. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget justo magna. Cras malesuada odio nec justo posuere interdum. Curabitur rutrum sapien vel eleifend scelerisque.
      </p>
    </div>