<head>
<link rel="stylesheet" href="productMain.css">
</head>
<div class="product-main-container">
    <div class="control-panel">
        <a href="/1212/component/product.html">←</a>
        <a href="">Про товар</a>
        <a href="/1212/component/productMain/place.html">Характеристики</a>
    </div>
    <div class="description-container">
        <div class="photo-panel">
            <img src="t-shirt.jpg" alt="cat">
        </div>
        <div class="description-panel">
        <h1>Котяча футболка</h1>
        <P >Ця крута футболка ідеально підійде для справжніх поціновувачів кішок! Вона поєднує в собі стиль, комфорт та унікальний дизайн.</P>
        <P > Ця футболка не лише вражає своїм унікальним дизайном, але також дозволить вам виразити свою любов до кішок та стилю. Це ідеальний варіант для будь-якого, хто цінує комфорт та оригінальність у своєму гардеробі.</P>
        <h2>Доступні кольори</h2>
        <div class="star-cont">
           <div id="on"></div>
           <div id="tw"></div>
           <div id="thr"></div>
           <div id="fr"></div>
        </div>
        <h2 class="">Розміри</h2>
        <div class="cont">
            <div id="s">S</div>
            <div id="m">M</div>
            <div id="l">L</div>
            <div id="xl">XL</div>
         </div>
    </div>
</div>

</div>