.product-main-container{
    padding: 20px;
}
.control-panel{
    background-color: rgb(176, 206, 180);
    
    display: flex;
    border-radius: 16px 16px 0px 0px;
}
body{
    background-color: rgba(148, 145, 145, 0.595);
}
.control-panel a{
    text-decoration: none;
    color: #636363;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    display: block;
}
.photo-panel{
    background-color: #fff;
    
    width: 49%;
}
.description-panel{
    background-color: #fff;
    width: 49%;
}
.description-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.photo-panel img{
    width: 90%;
    margin: 20px auto;
    display: block;
}
.description-container h1{
    color: blueviolet;
    position: relative;
    display: flex;
    justify-content: center;
}
p{
    color: #2f225f;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    gap: 20px;

}

#on{
    background-color: rgb(127, 178, 255);
    border-radius: 50%;
    width: 30px;
    height: 30px;
   display: flex;
   flex-direction: row;
}
#tw{
    background-color: rgb(255, 127, 127);
    border-radius: 50%; 
    width: 30px;
    height: 30px; 
    display: flex;
    flex-direction: row;
}
#thr{
    background-color: rgb(176, 224, 191);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
    box-shadow: 3px 3px 3px  red;
=======
    box-shadow: 7px 0px 7px rgb(196, 114, 114);
>>>>>>> ef9b5119435344057f23e923b134e190e8fbb7ce

}
#fr{
    background-color: rgb(210, 166, 195);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
    box-shadow: 3px 3px 3px  red;
=======
    box-shadow: 7px 0px 7px rgb(196, 114, 114);
>>>>>>> ef9b5119435344057f23e923b134e190e8fbb7ce

}
.star-cont {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
<<<<<<< HEAD
.size{
    display: flex;
    flex-direction: row;
    gap: 20px;

}
#xs{
    background-color: rgb(237, 186, 220);
    border-radius: 20px;
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: row;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;


}
#s{
    background-color: rgb(237, 186, 220);
    border-radius: 20px;
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: row;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
}
#m{
    background-color: rgb(237, 186, 220);
    border-radius: 20px;
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: row;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    box-shadow: 3px 3px 3px  red;
}
#l{
    background-color: rgb(237, 186, 220);
    border-radius: 20px;
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: row;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
}
#xl{
    background-color: rgb(237, 186, 220);
    border-radius: 20px;
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: row;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
}

=======
#s{
    background-color: beige;
    border-radius: 30px;
    width: 80px;
    height: 50px;
   
    flex-direction: row;
}
#m{
    border-radius: 30px;
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: row;

}
#l{
    border-radius: 30px;
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: row;

}
#xl{
    border-radius: 30px;
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}


>>>>>>> ef9b5119435344057f23e923b134e190e8fbb7ce

