
<div class="product-item">
    <img class="product-image" src="/1212/component/51WHgHxF5YL._AC_UF1000,1000_QL80_ (1).jpg" alt="product" >
    <img class="product-image2" src="/1212/component/like-106 (1).png" alt="product" >
    <p class="title">The cat, commonly referred to as the domestic cat</p>
    <div class="star-cont">
    <img class="img3" src="/1212/component/A_star (1).png">
    <img class="img3" src="/1212/component/A_star (1).png">
    <img class="img3" src="/1212/component/A_star (1).png">
    <img class="img3" src="/1212/component/A_star (1).png">
    <img class="img3" src="/1212/component/A_star (1).png">
    <a href="/1212/component/productMain/productMain.html"><p class="price"> free</p></a>
</div>
</div>